@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 70px;
} */
/* 
.nav_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}

.nav_link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.active {
  font-weight: bold;
}

.active:hover {
  font-size: 20px;
} */

